# Assignment for Data Science intern - Celerity Consulting

In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('/kaggle/input/celeb-assign2datasets/sample data - air.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FROM            5 non-null      object
 1   TO              22 non-null     object
 2   TRANSIT TIME    75 non-null     object
 3   AIRWAYS         75 non-null     object
 4   Freight per kg  69 non-null     object
 5   Operation Type  75 non-null     object
dtypes: object(6)
memory usage: 3.8+ KB

In [4]:
df.head()

,FROM,TO,TRANSIT TIME,AIRWAYS,Freight per kg,Operation Type
0,Chhatrapati Shivaji Maharaj International Airp...,Los Angeles International Airport (LAX),98 hours 37 minutes,QATAR AIRWAYS,"₹6,459",passenger
1,NaN,NaN,98 hours 37 minutes,EMIRATES,"₹6,512",freighter
2,NaN,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,ETIHAD AIRWAYS,"₹6,307",freighter
3,NaN,NaN,98 hours 37 minutes,QATAR AIRWAYS,"₹6,459",passenger
4,NaN,NaN,98 hours 37 minutes,EMIRATES,"₹6,511",freighter

In [5]:
df1 =df

In [6]:
df1 = df1.fillna(method='ffill', axis=0)

In [7]:
df1.head()

,FROM,TO,TRANSIT TIME,AIRWAYS,Freight per kg,Operation Type
0,Chhatrapati Shivaji Maharaj International Airp...,Los Angeles International Airport (LAX),98 hours 37 minutes,QATAR AIRWAYS,"₹6,459",passenger
1,Chhatrapati Shivaji Maharaj International Airp...,Los Angeles International Airport (LAX),98 hours 37 minutes,EMIRATES,"₹6,512",freighter
2,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,ETIHAD AIRWAYS,"₹6,307",freighter
3,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,QATAR AIRWAYS,"₹6,459",passenger
4,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,EMIRATES,"₹6,511",freighter

In [8]:
df1.tail(10)

,FROM,TO,TRANSIT TIME,AIRWAYS,Freight per kg,Operation Type
69,Kempegowda International Airport Bengaluru (BLR),Los Angeles International Airport (LAX),98 hours 37 minutes,AIR INDIA,"₹3,604",passenger
70,Kempegowda International Airport Bengaluru (BLR),Los Angeles International Airport (LAX),98 hours 37 minutes,EMIRATES,"₹6,511",passenger
71,Kempegowda International Airport Bengaluru (BLR),Los Angeles International Airport (LAX),98 hours 37 minutes,SINGAPORE AIRLINES,"3,802",passenger
72,Kempegowda International Airport Bengaluru (BLR),Los Angeles International Airport (LAX),98 hours 37 minutes,SINGAPORE AIRLINES,"3,802",passenger
73,Cochin International Airport (COK),Los Angeles International Airport (LAX),98 hours 37 minutes,EMIRATES,"3,802",passenger
74,Cochin International Airport (COK),Los Angeles International Airport (LAX),98 hours 37 minutes,QATAR AIRWAYS,"3,802",passenger
75,Cochin International Airport (COK),Los Angeles International Airport (LAX),98 hours 37 minutes,AIR INDIA,"3,802",passenger
76,Cochin International Airport (COK),Chicago O'Hare International Airport (ORD),98 hours 37 minutes,EMIRATES,"3,802",passenger
77,Cochin International Airport (COK),Chicago O'Hare International Airport (ORD),98 hours 37 minutes,QATAR AIRWAYS,"3,802",passenger
78,Cochin International Airport (COK),Chicago O'Hare International Airport (ORD),98 hours 37 minutes,AIR INDIA,"3,802",passenger

In [9]:
# extract hours and minutes information and convert to numerical format
df1['hours'] = df1['TRANSIT TIME'].str.extract('(\d+) hours', expand=False).fillna(0).astype(int)
df1['hours1'] = df1['TRANSIT TIME'].str.extract('(\d+)\s*[Hh]rs?', expand=False).fillna(0).astype(int)
df1['minutes'] = df1['TRANSIT TIME'].str.extract('(\d+) minutes', expand=False).fillna(0).astype(int)

# calculate the total time in minutes
df1['total_time_in_minutes'] = df1['hours'] * 60 + df1['minutes'] + df1['hours1']*60

In [10]:
df1.head()

,FROM,TO,TRANSIT TIME,AIRWAYS,Freight per kg,Operation Type,hours,hours1,minutes,total_time_in_minutes
0,Chhatrapati Shivaji Maharaj International Airp...,Los Angeles International Airport (LAX),98 hours 37 minutes,QATAR AIRWAYS,"₹6,459",passenger,98,0,37,5917
1,Chhatrapati Shivaji Maharaj International Airp...,Los Angeles International Airport (LAX),98 hours 37 minutes,EMIRATES,"₹6,512",freighter,98,0,37,5917
2,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,ETIHAD AIRWAYS,"₹6,307",freighter,98,0,37,5917
3,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,QATAR AIRWAYS,"₹6,459",passenger,98,0,37,5917
4,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,EMIRATES,"₹6,511",freighter,98,0,37,5917

In [11]:
# make dummy variables of the categorical columns.
from_dummies = pd.get_dummies(df1['FROM'], prefix='from')
to_dummies = pd.get_dummies(df1['TO'], prefix='to')
airways_dummies = pd.get_dummies(df1['AIRWAYS'], prefix='airways')
operation_dummies = pd.get_dummies(df1['Operation Type'], prefix='type')

# concatenate the original dataframe with the dummy variables
df_with_dummies = pd.concat([df1, from_dummies, to_dummies, airways_dummies, operation_dummies], axis=1)

In [12]:
df2 = df_with_dummies

In [13]:
df2.head()

,FROM,TO,TRANSIT TIME,AIRWAYS,Freight per kg,Operation Type,hours,hours1,minutes,total_time_in_minutes,...,airways_ETIHAD AIRWAYS,airways_KLM,airways_LUFTHANSA,airways_QATAR AIRWAYS,airways_SINGAPORE AIRLINES,airways_TURKISH AIRLINES,airways_UNITED AIRLINES,airways_VIRGIN ATLANTIC,type_freighter,type_passenger
0,Chhatrapati Shivaji Maharaj International Airp...,Los Angeles International Airport (LAX),98 hours 37 minutes,QATAR AIRWAYS,"₹6,459",passenger,98,0,37,5917,...,0,0,0,1,0,0,0,0,0,1
1,Chhatrapati Shivaji Maharaj International Airp...,Los Angeles International Airport (LAX),98 hours 37 minutes,EMIRATES,"₹6,512",freighter,98,0,37,5917,...,0,0,0,0,0,0,0,0,1,0
2,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,ETIHAD AIRWAYS,"₹6,307",freighter,98,0,37,5917,...,1,0,0,0,0,0,0,0,1,0
3,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,QATAR AIRWAYS,"₹6,459",passenger,98,0,37,5917,...,0,0,0,1,0,0,0,0,0,1
4,Chhatrapati Shivaji Maharaj International Airp...,Chicago O'Hare International Airport (ORD),98 hours 37 minutes,EMIRATES,"₹6,511",freighter,98,0,37,5917,...,0,0,0,0,0,0,0,0,1,0

In [14]:
# drop the original columns that were used to create the dummy variables
df2.drop(['FROM', 'TO', 'AIRWAYS', 'TRANSIT TIME', 'Operation Type', 'hours', 'hours1', 'minutes'], axis=1, inplace=True)

In [15]:
df2.head()

,Freight per kg,total_time_in_minutes,from_Chennai International Airport (MAA),from_Chhatrapati Shivaji Maharaj International Airport (BOM),from_Cochin International Airport (COK),from_Indira Gandhi International Airport (DEL),from_Kempegowda International Airport Bengaluru (BLR),to_Atlanta Hartsfield-Jackson International Airport,to_Atlanta Hartsfield-Jackson International Airport (ATL),to_Chicago O'Hare International Airport,...,airways_ETIHAD AIRWAYS,airways_KLM,airways_LUFTHANSA,airways_QATAR AIRWAYS,airways_SINGAPORE AIRLINES,airways_TURKISH AIRLINES,airways_UNITED AIRLINES,airways_VIRGIN ATLANTIC,type_freighter,type_passenger
0,"₹6,459",5917,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,"₹6,512",5917,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,"₹6,307",5917,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,"₹6,459",5917,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,"₹6,511",5917,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
# Check for NaN values
print(df2.isna().sum())

Freight per kg                                                  0
total_time_in_minutes                                           0
from_Chennai International Airport (MAA)                        0
from_Chhatrapati Shivaji Maharaj International Airport (BOM)    0
from_Cochin International Airport (COK)                         0
from_Indira Gandhi International Airport (DEL)                  0
from_Kempegowda International Airport Bengaluru (BLR)           0
to_Atlanta Hartsfield-Jackson International Airport             0
to_Atlanta Hartsfield-Jackson International Airport (ATL)       0
to_Chicago O'Hare International Airport                         0
to_Chicago O'Hare International Airport (ORD)                   0
to_Dallas/Fort Worth International Airport                      0
to_Dallas/Fort Worth International Airport (DFW)                0
to_John F. Kennedy International Airport                        0
to_John F. Kennedy International Airport (JFK)                  0
to_Los Angeles International Airport (LAX)                      0
airways_AIR CANADA                                              0
airways_AIR INDIA                                               0
airways_BRITISH AIRWAYS                                         0
airways_EMIRATES                                                0
airways_ETIHAD AIRWAYS                                          0
airways_KLM                                                     0
airways_LUFTHANSA                                               0
airways_QATAR AIRWAYS                                           0
airways_SINGAPORE AIRLINES                                      0
airways_TURKISH AIRLINES                                        0
airways_UNITED AIRLINES                                         0
airways_VIRGIN ATLANTIC                                         0
type_freighter                                                  0
type_passenger                                                  0
dtype: int64

In [17]:
df2['Freight per kg'] = df2['Freight per kg'].str.replace('₹', '').str.replace(',', '').astype(float)

In [18]:
df2['Freight per kg']

0     6459.0
1     6512.0
2     6307.0
3     6459.0
4     6511.0
       ...
74    3802.0
75    3802.0
76    3802.0
77    3802.0
78    3802.0
Name: Freight per kg, Length: 79, dtype: float64

In [19]:
X = df2
y = df2['Freight per kg']

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


# Split the encoded data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# a linear regression model
model = LinearRegression()

# Train the model on the training set
model.fit(X_train, y_train)

LinearRegression()

In [21]:
# Evaluate the model on the testing set
score = model.score(X_test, y_test)
print("Model R^2 score:", score)

Model R^2 score: 1.0

In [22]:
# Predict the prices on the test set
y_pred = model.predict(X_test)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)

# Calculate the root mean squared error
rmse = np.sqrt(mse)

# Print the root mean squared error
print("Root Mean Squared Error: ", rmse)

Root Mean Squared Error:  1.1814682745140617e-12

In [23]:
# A Root Mean Squared Error (RMSE) of 1.1814682745140617e-12 means that, on average, the model's predictions are 1.1814682745140617e-12 units away 
# from the actual values. Since this value is very small, it indicates that the model has a very good fit to the data 
# and is able to accurately predict the prices.

Thank You!