# Assignment for Data Science intern - Celerity Consulting

## ( For Ship Data )

In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('/kaggle/input/ship-data/sample data - ship.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   S.No                        5 non-null      float64
 1   ORIGIN OF SHIPMENT          5 non-null      object
 2   DESTINATION OF SHIPMENT     25 non-null     object
 3   CONTAINER DETAILS           25 non-null     object
 4   SHIPPER NAME                191 non-null    object
 5   FREIGHT RATE in INR         191 non-null    object
 6   FREIGHT RATE in USD         191 non-null    object
 7   Destination Detention Days  191 non-null    object
dtypes: float64(1), object(7)
memory usage: 12.3+ KB

In [4]:
df.head()

,S.No,ORIGIN OF SHIPMENT,DESTINATION OF SHIPMENT,CONTAINER DETAILS,SHIPPER NAME,FREIGHT RATE in INR,FREIGHT RATE in USD,Destination Detention Days
0,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,COGO ASSURED,"₹1,53,104","$1,591",7 Days
1,NaN,NaN,NaN,NaN,OOCL,"₹1,46,970","$1,545",4 Days
2,NaN,NaN,NaN,NaN,ONE LINE,"₹1,64,130","$1,645",3 Days
3,NaN,NaN,NaN,NaN,COSCO,"₹1,67,846","$1,792",3 Days
4,NaN,NaN,NaN,NaN,HYUNDAI,"₹1,85,576","$1,957",3 Days

In [5]:
df1 =df

In [6]:
df1 = df1.fillna(method='ffill', axis=0)

In [7]:
df1.head()

,S.No,ORIGIN OF SHIPMENT,DESTINATION OF SHIPMENT,CONTAINER DETAILS,SHIPPER NAME,FREIGHT RATE in INR,FREIGHT RATE in USD,Destination Detention Days
0,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,COGO ASSURED,"₹1,53,104","$1,591",7 Days
1,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,OOCL,"₹1,46,970","$1,545",4 Days
2,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,ONE LINE,"₹1,64,130","$1,645",3 Days
3,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,COSCO,"₹1,67,846","$1,792",3 Days
4,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,HYUNDAI,"₹1,85,576","$1,957",3 Days

In [8]:
df1.tail(10)

,S.No,ORIGIN OF SHIPMENT,DESTINATION OF SHIPMENT,CONTAINER DETAILS,SHIPPER NAME,FREIGHT RATE in INR,FREIGHT RATE in USD,Destination Detention Days
185,5.0,Visakhapatnam Port Trust (VMPT),Houston,40FT,CMA CGM,"₹4,85,174","$5,547",3 Days
186,5.0,Visakhapatnam Port Trust (VMPT),Houston,40FT,MSC,"₹4,86,929","$5,557",3 Days
187,5.0,Visakhapatnam Port Trust (VMPT),Houston,40FT,OOCL,"₹4,87,456","$5,598",3 Days
188,5.0,Visakhapatnam Port Trust (VMPT),Charleston,40FT,COGO ASSURED,"₹2,02,614","$2,209",7 Days
189,5.0,Visakhapatnam Port Trust (VMPT),Charleston,40FT,WAN HAI,"₹2,79,909","$3,121",3 Days
190,5.0,Visakhapatnam Port Trust (VMPT),Charleston,40FT,HAPAG LLOYD,"₹3,12,319","$3,502",3 Days
191,5.0,Visakhapatnam Port Trust (VMPT),Charleston,40FT,CMA CGM,"₹3,14,249","$3,523",3 Days
192,5.0,Visakhapatnam Port Trust (VMPT),Charleston,40FT,EVERGREEN,"₹3,22,518","$3,564",3 Days
193,5.0,Visakhapatnam Port Trust (VMPT),Charleston,40FT,HYUNDAI,"₹5,30,671","$6,108",3 Days
194,5.0,Visakhapatnam Port Trust (VMPT),Charleston,40FT,ONE LINE,"₹5,58,310","$6,427",3 Days

In [9]:
# make dummy variables of the categorical columns.
from_dummies = pd.get_dummies(df1['ORIGIN OF SHIPMENT'], prefix='from')
to_dummies = pd.get_dummies(df1['DESTINATION OF SHIPMENT'], prefix='to')
shipper_dummies = pd.get_dummies(df1['SHIPPER NAME '], prefix='shipper')

# concatenate the original dataframe with the dummy variables
df_with_dummies = pd.concat([df1, from_dummies, to_dummies, shipper_dummies], axis=1)

In [10]:
df2 = df_with_dummies

In [11]:
df2.head()

,S.No,ORIGIN OF SHIPMENT,DESTINATION OF SHIPMENT,CONTAINER DETAILS,SHIPPER NAME,FREIGHT RATE in INR,FREIGHT RATE in USD,Destination Detention Days,from_Chennai Port Trust (CPT),from_JNPT (Jawaharlal Nehru Port Trust),...,shipper_COSCO,shipper_EVERGREEN,shipper_HAPAG LLOYD,shipper_HYUNDAI,shipper_MSC,shipper_ONE LINE,shipper_OOCL,shipper_WAN HAI,shipper_YML,shipper_ZIM
0,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,COGO ASSURED,"₹1,53,104","$1,591",7 Days,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,OOCL,"₹1,46,970","$1,545",4 Days,0,1,...,0,0,0,0,0,0,1,0,0,0
2,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,ONE LINE,"₹1,64,130","$1,645",3 Days,0,1,...,0,0,0,0,0,1,0,0,0,0
3,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,COSCO,"₹1,67,846","$1,792",3 Days,0,1,...,1,0,0,0,0,0,0,0,0,0
4,1.0,JNPT (Jawaharlal Nehru Port Trust),Los Angeles/Long Beach,40FT,HYUNDAI,"₹1,85,576","$1,957",3 Days,0,1,...,0,0,0,1,0,0,0,0,0,0

In [12]:
# drop the original columns that were used to create the dummy variables
df2.drop(['S.No', 'SHIPPER NAME ', 'ORIGIN OF SHIPMENT', 'DESTINATION OF SHIPMENT'], axis=1, inplace=True)

In [13]:
df2.head()

,CONTAINER DETAILS,FREIGHT RATE in INR,FREIGHT RATE in USD,Destination Detention Days,from_Chennai Port Trust (CPT),from_JNPT (Jawaharlal Nehru Port Trust),from_Kolkata Port Trust (KPT),from_Mundra Port Trust (MPT),from_Visakhapatnam Port Trust (VMPT),to_Charleston,...,shipper_COSCO,shipper_EVERGREEN,shipper_HAPAG LLOYD,shipper_HYUNDAI,shipper_MSC,shipper_ONE LINE,shipper_OOCL,shipper_WAN HAI,shipper_YML,shipper_ZIM
0,40FT,"₹1,53,104","$1,591",7 Days,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,40FT,"₹1,46,970","$1,545",4 Days,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,40FT,"₹1,64,130","$1,645",3 Days,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,40FT,"₹1,67,846","$1,792",3 Days,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,40FT,"₹1,85,576","$1,957",3 Days,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [14]:
# Check for NaN values
print(df2.isna().sum())

CONTAINER DETAILS                          0
FREIGHT RATE in INR                        0
FREIGHT RATE in USD                        0
Destination Detention Days                 0
from_Chennai Port Trust (CPT)              0
from_JNPT (Jawaharlal Nehru Port Trust)    0
from_Kolkata Port Trust (KPT)              0
from_Mundra Port Trust (MPT)               0
from_Visakhapatnam Port Trust (VMPT)       0
to_Charleston                              0
to_Houston                                 0
to_Los Angeles/Long Beach                  0
to_New York/New Jersey                     0
to_Savannah                                0
shipper_CMA                                0
shipper_CMA CGM                            0
shipper_COGO ASSURED                       0
shipper_COSCO                              0
shipper_EVERGREEN                          0
shipper_HAPAG LLOYD                        0
shipper_HYUNDAI                            0
shipper_MSC                                0
shipper_ONE LINE                           0
shipper_OOCL                               0
shipper_WAN HAI                            0
shipper_YML                                0
shipper_ZIM                                0
dtype: int64

In [15]:
df2['FREIGHT RATE in INR'] = df2['FREIGHT RATE in INR'].str.replace('₹', '').str.replace(',', '').astype(float)

In [16]:
df2['FREIGHT RATE in INR']

0      153104.0
1      146970.0
2      164130.0
3      167846.0
4      185576.0
         ...
190    312319.0
191    314249.0
192    322518.0
193    530671.0
194    558310.0
Name: FREIGHT RATE in INR, Length: 195, dtype: float64

In [17]:
df2['CONTAINER DETAILS'] = df2['CONTAINER DETAILS'].str.replace('FT', '')

In [18]:
df2['Destination Detention Days'] = df2['Destination Detention Days'].str.replace('Days', '')

In [19]:
df2.head()

,CONTAINER DETAILS,FREIGHT RATE in INR,FREIGHT RATE in USD,Destination Detention Days,from_Chennai Port Trust (CPT),from_JNPT (Jawaharlal Nehru Port Trust),from_Kolkata Port Trust (KPT),from_Mundra Port Trust (MPT),from_Visakhapatnam Port Trust (VMPT),to_Charleston,...,shipper_COSCO,shipper_EVERGREEN,shipper_HAPAG LLOYD,shipper_HYUNDAI,shipper_MSC,shipper_ONE LINE,shipper_OOCL,shipper_WAN HAI,shipper_YML,shipper_ZIM
0,40,153104.0,"$1,591",7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,40,146970.0,"$1,545",4,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,40,164130.0,"$1,645",3,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,40,167846.0,"$1,792",3,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,40,185576.0,"$1,957",3,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [20]:
df2.drop(['FREIGHT RATE in USD', 'CONTAINER DETAILS'], axis=1, inplace=True)

In [21]:
df2.head()

,FREIGHT RATE in INR,Destination Detention Days,from_Chennai Port Trust (CPT),from_JNPT (Jawaharlal Nehru Port Trust),from_Kolkata Port Trust (KPT),from_Mundra Port Trust (MPT),from_Visakhapatnam Port Trust (VMPT),to_Charleston,to_Houston,to_Los Angeles/Long Beach,...,shipper_COSCO,shipper_EVERGREEN,shipper_HAPAG LLOYD,shipper_HYUNDAI,shipper_MSC,shipper_ONE LINE,shipper_OOCL,shipper_WAN HAI,shipper_YML,shipper_ZIM
0,153104.0,7,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,146970.0,4,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,164130.0,3,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,167846.0,3,0,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,185576.0,3,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [22]:
X = df2
y = df2['FREIGHT RATE in INR']

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


# Split the encoded data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# a linear regression model
model = LinearRegression()

# Train the model on the training set
model.fit(X_train, y_train)

LinearRegression()

In [24]:
# Evaluate the model on the testing set
score = model.score(X_test, y_test)
print("Model R^2 score:", score)

Model R^2 score: 1.0

In [25]:
# Predict the prices on the test set
y_pred = model.predict(X_test)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)

# Calculate the root mean squared error
rmse = np.sqrt(mse)

# Print the root mean squared error
print("Root Mean Squared Error: ", rmse)

Root Mean Squared Error:  4.6835863880721196e-11

In [26]:
# the RMSE value you provided is very small (4.68e-11), which suggests that the model is performing very well 
# and the predicted values are very close to the actual values.

Thank You!